extend layout.pug

mixin inputMx(inputVal)
	input(value=inputVal)&attributes(attributes)
	
block content
	div(class='contact1')
		form(action="/submit",method="post",class='contact1-form validate-form')
			span(class="contact-form-title")
				Registration
			div(class='wrap-input1 validate-input',data-validate='Unesite ime')
				input(class="input1",type="text",name="name",placeholder="Name",value=namep)
			div(class="wrap-input1 validate-input",data-validate="Unesite prezime")
				input(class="input1",type="text",name="surname",placeholder="Surname",value=surnamep)
			div(class="wrap-input1 validate-input",data-validate="unesite index")
				input(class="input1",type="text",name="index",placeholder=indexplc1,value=indexp)
				
			div(class="container-contact-form-btn")
				input(class='myButton',type='submit',text='option1')
		
    



